@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

/* Custom styles for prose (markdown content) */
.prose a {
  @apply text-blue-600 hover:text-blue-800 underline;
}
